// CONFIGURATE DOCUMENT

// FONT SETTINGS

// Font sizes - can be any unit
$texts: (
  default: (
    default: 16px,
    sm: 16px,
  ),
  xxs: (
    default: 0.5rem,
    sm: 0.5rem,
  ),
  xs: (
    default: 0.75rem,
    sm: 0.75rem,
  ),
  sm: (
    default: 1rem,
    sm: 1rem,
  ),
  md: (
    default: 1.5rem,
    sm: 1.5rem,
  ),
  lg: (
    default: 2rem,
    sm: 2rem,
  ),
  xl: (
    default: 3rem,
    sm: 3rem,
  ),
  xxl: (
    default: 6rem,
    sm: 6rem,
  ),
);

// Line height - realtive to font-size
$lines: (
  default: 1.25,
  xxs: 1,
  xs: 1.125,
  sm: 1.25,
  md: 1.375,
  lg: 1.5,
  xl: 2,
  xxl: 3,
);

$font-smoothing-moz: true;
$font-smoothing-webkit: true;

// Viewport values
$is-global-viewport-text: true;
$viewport-width-px: 1280;

// __________________________________________________________ //

// FONTS

$main-font: 1;
$fonts: (
  1: (
    name: Helvetica,
    fallback: 'Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif',
    url: '',
    weight: normal,
    style: normal,
    display: auto,
  ),
  2: (
    name: Times,
    fallback: 'Times New Roman, Times, serif',
    url: '',
    weight: normal,
    style: normal,
    display: auto,
  ),
);

// __________________________________________________________ //

// LAYOUT

$number-of-columns: 12;

$is-global-viewport-sizes: false;
$base-space: 10px;

// __________________________________________________________ //

// COLORS

$colors: (
  text: black,
  link: blue,
  hover: red,
  background: white,
);

// __________________________________________________________ //

// TRANSITION

$transition-property-default: all;
$transition-duration-default: 0.3s;
$transition-timing-default: ease-in-out;
$transition-delay-default: 0s;

// __________________________________________________________ //

// BREAKPOINTS

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 1000px,
  lg: 1200px,
  xl: 1500px,
  xxl: 1800px,
);

// __________________________________________________________ //

// FREE CONFIG
