// CONFIGURATE DOCUMENT

$number-of-columns:                         10; // Number of columns (Maximum 100)
$base-margin:                               10; // Initial margin in px (equivalent of .margin1)
$base-padding:                              10; // Initial padding in px (equivalent of .padding1)
