// INITIATE BASIC CLASSES

// BORDER-BOX, RESET

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
}

body,
html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

// __________________________________________________________ //

// TYPE SIZE

@function get-vw($target) {
  $vw-context: ($viewport-width-px * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

html,
body {
  font-size: $text-default-px * 1px;
  line-height: $line-height-default;
  color: $text-color;
  background-color: $background-color;
  @if ($primary-font-family != '') {
    font-family: $primary-font-family, $primary-fallback;
  } @else {
    font-family: $primary-fallback;
  }
  overflow: hidden;

  @include sm {
    @if $is-global-viewport-text==true {
      font-size: get-vw($text-default-px * 1px);
    }
  }
}

main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

// __________________________________________________________ //

// TRANSITIONS

$base-transition: $base-transition-selector $base-transition-speed $base-transition-type;

