// INITIATE COLORS

.text-color {
  color: $text-color;
}

.background-color {
  background-color: $background-color;
}

.color-1 {
  color: $primary-color;
}

.color-2 {
  color: $secondary-color;
}

.color-3 {
  color: $tertiary-color;
}

.bg-color-1 {
  background-color: $primary-color;
}

.bg-color-2 {
  background-color: $secondary-color;
}

.bg-color-3 {
  background-color: $tertiary-color;
}
