// INITIATE FONTS

@font-face {
    font-family: $primary-font-family;
    src: url('') format('woff'),
         url('') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $secondary-font-family;
    src: url('') format('woff'),
         url('') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $tertiary-font-family;
    src: url('') format('woff'),
         url('') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-1 {
  font-family: $primary-font-family, $primary-fallback;
}

.font-2 {
  font-family: $secondary-font-family, $secondary-fallback;
}

.font-3 {
  font-family: $tertiary-font-family, $tertiary-fallback;
}
