// INITIATE FONTS

@if ($primary-font-family != '') {
    @font-face {
        font-family: $primary-font-family;
        src: url($primary-font-url + '.woff') format('woff'),
            url($primary-font-url + '.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}

@if ($secondary-font-family != '') {
    @font-face {
        font-family: $secondary-font-family;
        src: url($secondary-font-url + '.woff') format('woff'),
            url($secondary-font-url + '.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}

@if ($tertiary-font-family != '') {
    @font-face {
        font-family: $tertiary-font-family;
        src: url($tertiary-font-url + '.woff') format('woff'),
            url($tertiary-font-url + '.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}