// INITIATE GRID

// COLUMNS, SUBDIVISIONS, LEFT OFFSET

$single-column: 100 / $number-of-columns;

@mixin column($property) {
  width: percentage($single-column * $property / 100);
}

@mixin subdivision($property) {
  width: percentage($property);
}

@mixin offsetcol($property) {
  margin-left: percentage($single-column * $property / 100);
}

[class*="col-"], [class*="sub-"], [class*="off-"] {
    float: left;
}

@for $i from 1 through $number-of-columns {
  .col-#{$i} {
    @include column($i);
  }
  .sub-#{$i} {
    @include subdivision($i);
  }
  .off-#{$i} {
    @include offsetcol($i);
  }
}
