// INITIATE TYPE SIZES

small{
  font-size: $text-xxs;
}

h6{
  font-size: $text-xs;
}

h5{
  font-size: $text-sm;
}

h4{
  font-size: $text-md;
}

h3{
  font-size: $text-lg;
}

h2{
  font-size: $text-xl;
}

h1{
  font-size: $text-xxl;
}

// __________________________________________________________ //

// INITIATE LINE HEIGHT

h1, h2, h3, h4, h5, h6, small {
  line-height: $line-height-default;
  font-weight: normal;
}
