// INITIATE TYPE SIZES

h1,
h2,
h3,
h4,
h5,
h6,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.small {
  font-size: text(xxs, sm);

  @include mq(sm) {
    font-size: text(xxs, default);
  }
}

.h6 {
  font-size: text(xs, sm);

  @include mq(sm) {
    font-size: text(xs, default);
  }
}

.h5 {
  font-size: text(sm, sm);

  @include mq(sm) {
    font-size: text(sm, default);
  }
}

.h4 {
  font-size: text(md, sm);

  @include mq(sm) {
    font-size: text(md, default);
  }
}

.h3 {
  font-size: text(lg, sm);

  @include mq(sm) {
    font-size: text(lg, default);
  }
}

.h2 {
  font-size: text(xl, sm);

  @include mq(sm) {
    font-size: text(xl, default);
  }
}

.h1 {
  font-size: text(xxl, sm);

  @include mq(sm) {
    font-size: text(xxl, default);
  }
}

// __________________________________________________________ //

// INITIATE LINE HEIGHT

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.small {
  line-height: line(default);
  font-weight: normal;
}
